<FluentCard Height="300px" class="">
    
    <FluentBadge Appearance="Appearance.Lightweight">
        <FluentIcon Value="@(new Icons.Regular.Size16.Calendar())"/> @Event.StartDateTime.ToString("yyyy-MM-dd HH:mm")
    </FluentBadge>

    <FluentBadge Appearance="Appearance.Lightweight">
        <FluentIcon Value="@(new Icons.Regular.Size16.Location())"/> @Event.Location?.Name
    </FluentBadge>

    <h1 class="mb-1">@Event.Name</h1>
    <p>@Event.Description</p>

    <h3>@Event.Price @Event.Currency</h3>
</FluentCard>