<h3>EventCard</h3>

<FluentCard Width="300px" Height="300px">
    <p>This is an event card csá</p>
    @Event.Name
    @Event.Description
    @Event.Price
    @Event.Location?.Name
    @Event.StartDateTime
    @Event.EndDateTime
</FluentCard>