<h3>EventCard</h3>

<FluentCard>
    <p>This is an event card csá</p>
    @Event.Name
    @Event.Description
    @Event.Price
    @Event.Location?.Name
    @Event.StartDate
    @Event.EndDate
</FluentCard>