@namespace PartyWebAppClient.Pages.Admin.Location

@page "/admin/locations"
@layout AdminLayout
@attribute [Authorize]

@using PartyWebAppClient.Layout.AdminLayout

<!--<FluentDataGrid Items="@locations">
   <PropertyColumn Property="@(l => l.Id)" Sortable="true" />
   <PropertyColumn Property="@(l => l.Name)" Sortable="true" />
   <PropertyColumn Property="@(l => l.Address)" Sortable="true" />
   <PropertyColumn Property="@(l => l.Type)" Sortable="true" />
   <TemplateColumn Title="Actions" Align="@Align.End">
       <FluentButton aria-label="Edit item" IconEnd="@(new Icons.Regular.Size16.Edit())" OnClick="@(() => {})" />
      <FluentButton aria-label="Delete item" IconEnd="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => DeleteLocation(context.Id))" />
    </TemplateColumn>
</FluentDataGrid>-->

<h1>A</h1>