@namespace PartyWebAppClient.Layout.AdminLayout
@inject IStringLocalizer<Resources> Localize;

@inherits LayoutComponentBase;

<FluentLayout Class="container">

    <nav class="navbar navbar-expand-lg rounded-4 mt-3 p-3"
         style="box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);">
        <div class="container-fluid">
            <!-- Left group: Brand link -->
            <a class="navbar-brand" href="/">PartyWebApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Center group: Navigation links -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <FluentAnchor Appearance="Appearance.Lightweight" IconStart="@(new Icons.Regular.Size20.Home())" Href="/admin" Class="text-black">
                            @Localize["Home"]
                        </FluentAnchor>
                    </li>
                    <li class="nav-item">
                        <FluentAnchor Appearance="Appearance.Lightweight" IconStart="@(new Icons.Regular.Size20.Calendar())" Href="/admin/events" Class="text-black">
                            @Localize["Events"]
                        </FluentAnchor>
                    </li>
                    <li class="nav-item">
                        <FluentAnchor Appearance="Appearance.Lightweight" IconStart="@(new Icons.Regular.Size20.Location())" Href="/admin/locations" Class="text-black">
                            @Localize["Locations"]
                        </FluentAnchor>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <AuthorizeView>
                    <Authorized>
                        <FluentButton style="margin-left: 8px"
                                      IconStart="@(new Icons.Regular.Size16.DoorArrowLeft())"
                                      OnClick="async () => await SignOutAsync()">
                            @Localize["SignOut"]
                        </FluentButton>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </nav>

    <FluentStack Class="main overflow-visible" Orientation="Orientation.Horizontal" Width="100%">
        <FluentBodyContent Class="body-content overflow-visible">
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>

    <FluentToastProvider MaxToastCount="6" />
</FluentLayout>