@namespace PartyWebAppClient.Pages.SignIn

@page "/signin"

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject IToastService ToastService

<PageTitle>PartyWebApp - Sign In</PageTitle>

<h1 class="text-center mt-4">Sign In</h1>

<div style="display: flex; justify-content: center; align-items: center; width: 100%">
	<EditForm Model="@_model" OnValidSubmit="@OnValidSubmit" FormName="SignInForm" style="width: 300px;">
		<DataAnnotationsValidator />
		@* <ValidationSummary /> *@

		<FluentStack Orientation = "@Orientation.Vertical">
			<div style="width: 100%;">
				<FluentTextField @bind-Value="_model.Email" Label="Email" Placeholder="Email" Style="width: 100%;" />
				<FluentValidationMessage For="@(() => _model.Email)" />
			</div>
			<div style="width: 100%;">
				<FluentTextField @bind-Value="_model.Password" Label="Password" Placeholder="Password" Type="password"
				                 Style="width: 100%;" />
				<FluentValidationMessage For="@(() => _model.Password)" />
			</div>

			<FluentButton Style="width: 100%" IconStart="@(new Icons.Regular.Size16.PersonArrowRight())"
			              Loading="@loading" Type="Microsoft.FluentUI.AspNetCore.Components.ButtonType.Submit"
			              Appearance="Appearance.Accent">
				Sign In</FluentButton>
		</FluentStack>
	</EditForm>
</div>